<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/zachahn/Plunger/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>aVfR/4R4PI6EQhamZkTHZB8kwK/1k2IN87CPITODP3o=</string>
</dict>
</plist>
